<div class ="container">
  <div class ="row">

    <div class="col-sm-3" id="get_people">
      <p>GET /people</p><br>
      <button type = "button" class = "btn btn-default" id="get_people_btn">See People</button>
    </div>

    <div class="col-sm-3" id="post_people">
      <p>POST /people</p><br>
      <form id="form">
        <%= form_tag('/people', method: :post) do %>
            <input title="Name" placeholder="Add Name" type="text" name=":post_name" id="post_name"><br><br>
            <input title="City" placeholder="Add Favorite City" type="text" name=":post_favoriteCity" id="post_favoriteCity"><br><br>
            <button type = "submit" class = "btn btn-default" id="post_person_btn">Add Person</button>
        <% end %>
        <div class="message" id="post_message"></div>
    </div>

    <div class="col-sm-3" id="update_people">
      <p>PUT /people/1</p><br>
      <form id="form">
        <%= form_tag('/people/1', method: :put) do %>
          <input title="Name" placeholder="Edit Name" type="text" name=":put_name" id="put_name"><br><br>
          <input title="City" placeholder="Edit Favorite City" type="text" name=":put_favoriteCity" id="put_favoriteCity"><br><br>
          <button type = "submit" class = "btn btn-default" id="update_person_btn">Edit Person</button>
        <% end %>
      <div class="message" id="update_message"></div>
    </div>

    <div class="col-sm-3" id="delete_people">
      <p>DELETE /people/1</p><br>
      <button type = "submit" class = "btn btn-default" id="delete_person_btn">Delete Person</button>
      <div class="message" id="delete_message"></div>
    </div>

  </div>
</div>

<div class="documentation">
  <a style="font-size:14px" href="https://github.com/dimitriwashere/personify-server" target="_blank" >DOCUMENTATION</a>
</div>
